<div class="popup-window_modal modalWindow" id="pop_call">
    <div class="popup-close popupCloseBtn">
        <span></span>
    </div>
    <div class="spinner"></div>
    <div class="popup-content">
        <form class="popup-form">
            <ul class="popup-form-fields">
                <li><input class="popup-form-field" type="text" name="name" id="name"
                        placeholder="<%= __('modal.name') %>" required></li>
                <li><input class="popup-form-field" type="tel" name="phone" id="phone" placeholder="<%= __('modal.phone') %>"
                        required></li>
                <li>
                    <div class="popup-form-field_btn"><input type="submit" value="<%= __('modal.send') %>"></div>
                </li>
            </ul>
        </form>
    </div>
</div>

<div class="popup-window_modal modalWindow" id="pop_message_order">
    <div class="popup-close popupCloseBtn">
        <span></span>
    </div>
    <div class="spinner"></div>
    <div class="popup-content">
        <form class="popup-form">
            <ul class="popup-form_fields">
                <li><input class="popup-form-field" type="text" name="name" placeholder="<%= __('modal.name') %>"
                        required></li>
                <li><input class="popup-form-field" type="tel" name="phone" placeholder="<%= __('modal.phone') %>" required>
                </li>
                <li><textarea class="popup-form-field" name="message" id="message" cols="30" rows="10"
                        placeholder="<%= __('modal.message') %>"></textarea></li>
                <li>
                    <div class="popup-form-field_btn"><input type="submit" value="<%= __('modal.send') %>">
                </li>
            </ul>
        </form>
    </div>
</div>
</div>

<div class="popup-window_confirmation modalWindowConfirmation">
    <div class="popup-close_confirmation popupCloseBtn">
        <span></span>
    </div>
    <div class="popup-confirmation">
        <div class="confirmation-header">
            <%= __('modal.title') %>
        </div>
        <div class="confirmation-text">
            <%= __('modal.text') %>
        </div>
    </div>
</div>