<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= __('head.title') %></title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%-  include('../partials/header')-%>

    <div class="container">
        <div class="about-us-video">
            <video class="video-item" autoplay loop muted>
                <source src="/video/about_us_1.mp4" type="video/mp4"/>
            </video>
        </div>
        <div class="about-us-advntg">
            <div class="about-us-advntg_item"><%= __('aboutUs.advtg.1') %></div>
            <div class="about-us-advntg_item"><%= __('aboutUs.advtg.2') %></div>
            <div class="about-us-advntg_item"><%= __('aboutUs.advtg.3') %></div>
            <div class="about-us-advntg_item"><%= __('aboutUs.advtg.4') %></div>
        </div>
        <div class="about-us-description">
            <div class="about-us-description-column">
                <div class="about-us-description-column_title">
                    <%= __('aboutUs.ourCompany') %>
                </div>
                <div class="about-us-description-column_text">
                    <%= __('aboutUs.descrCompany') %>
                </div>
                <div class="about-us-description-column_title">
                    <%= __('aboutUs.production') %>
                </div>
                <div class="about-us-description-column_text">
                    <%= __('aboutUs.descrProd') %>
                </div>
            </div>
            <div class="about-us-description-column">
                <div class="about-us-description-column_title">
                    <%= __('aboutUs.ourPartners') %>
                </div>
                <div class="about-us-description-column_text">
                    <%= __('aboutUs.descrPartners') %>
                </div>
                <div class="about-us-description-column_title">
                    <%= __('aboutUs.facture') %>
                </div>
                <div class="about-us-description-column_text">
                    <%= __('aboutUs.descrFacture') %>
                </div>
            </div>
        </div>
        <div class="about-us-images">
            <div class="about-us-images_item">
                <img src="/images/slides/about-us-left.jpg" alt="Factory">
            </div>
            <div class="about-us-images_item">
                <img src="images/slides/about-us-right.jpg" alt="Factory">
            </div>
        </div>
    </div>

    <%-  include('../partials/modal')-%>
    <%-  include('../partials/footer')-%>
    <script src="/script/script.js"></script>
</body>

</html>