<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catalogue item</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%-  include('../partials/header')-%>

    <div class="container">
        <div class="product-wrapper">
            <div class="product-column">
                <div class="slider-container">
                    <div class="slider-title">
                        <%= product.productTitle %>
                    </div>
                    <div class="slider-container-items sliderContainer">
                        <% for(let i = 0; i < product.imageUrl.length; i++) { %>
                        <img src="<%= product.imageUrl[i] %>" class="slides-item slidesItem" alt="Slides photography" />
                        <% } %>
                        <a class="prev-btn prevBtn"></a>
                        <a class="next-btn nextBtn"></a>
                    </div>
                    <div class="slider-gallery-container sliderGallery">
                        <% for(let i = 0; i < product.imageUrl.length; i++) { %>
                        <div class="slider-gallery-items"><img src="<%= product.imageUrl[i] %>" alt="Slides photography"
                                id="<%= i+1 %>">
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="product-column">
                <div class="product-description"><%= __('product.descrProduct') %></div>
                <table class="product-table">
                    <tbody class="product-table_body">

                        <tr>
                            <td><%= __('product.productDescription.title') %></td>
                            <td><%= product.productDescription.title %></td>
                        </tr>
                        <tr>
                            <td><%= __('product.productDescription.storage') %></td>
                            <td><%= product.productDescription.storage %></td>
                        </tr>
                        <tr>
                            <td><%= __('product.productDescription.regDocument') %></td>
                            <td><%= product.productDescription.regDocument %></td>
                        </tr>
                        <tr>
                            <td><%= __('product.productDescription.netPacking') %></td>
                            <td><%= product.productDescription.netPacking %></td>
                        </tr>
                        <tr>
                            <td><%= __('product.productDescription.grossPacking') %></td>
                            <td><%= product.productDescription.grossPacking %>/td>
                        </tr>
                        <tr>
                            <td><%= __('product.productDescription.barcode') %></td>
                            <td><%= product.productDescription.barcode %></td>
                        </tr>
                        <tr>
                            <td><%= __('product.productDescription.typePacking') %></td>
                            <td><%= product.productDescription.typePacking %></td>
                        </tr>
                        <tr>
                            <td><%= __('product.productDescription.countBox') %></td>
                            <td><%= product.productDescription.countBox %></td>
                        </tr>
                        <tr>
                            <td><%= __('product.productDescription.countPallet') %></td>
                            <td><%= product.productDescription.countPallet %></td>
                        </tr>
                        <tr>
                            <td><%= __('product.productDescription.expDate') %></td>
                            <td><%= product.productDescription.expDate %></td>
                        </tr>
                        <tr>
                            <td><%= __('product.productDescription.storageCondition') %></td>
                            <td><%= product.productDescription.storageCondition %></td>
                        </tr>
                    </tbody>
                </table>
                <div class="product-button_order">
                    <a class="product-button_link popupBtn" data-popup="pop_message_order"><%= __('product.makeOrder') %></a>
                </div>
            </div>
        </div>

        <div class="popup-window_slider modalWindow">
            <div class="popup-content_slider sliderModalContainer"></div>
            <a class="prev-btn-modal prevBtnModal"></a>
            <a class="next-btn-modal nextBtnModal"></a>
            <div class="popup-close popupCloseBtnSlider">
                <span></span>
            </div>
        </div>

        <%-  include('../partials/modal')-%>
        <%-  include('../partials/footer')-%>
        <script src="/script/script.js"></script>
</body>

</html>