<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cпівпраця</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%-  include('../partials/header')-%>

    <div class="catalogue-wrapper">
        <div class="catalogue-filter filterContainer">
            <div class="catalogue-filter-list filterMenu">
                <a href="/catalogue?sort=sugar" class="catalogue-filter-item filterItem"><%= __('production.sugar') %></a>
                <a href="/catalogue?sort=oil" class="catalogue-filter-item filterItem"><%= __('production.oil') %></a>
                <a href="/catalogue?sort=soda" class="catalogue-filter-item filterItem"><%= __('production.soda') %></a>
                <a href="/catalogue?sort=grain" class="catalogue-filter-item filterItem"><%= __('production.grain') %></a>
                <a href="/catalogue?sort=salt" class="catalogue-filter-item filterItem"><%= __('production.salt') %></a>
                <a href="/catalogue?sort=nudles" class="catalogue-filter-item filterItem"><%= __('production.nudles') %></a>
                <a href="/catalogue?sort=coffee" class="catalogue-filter-item filterItem"><%= __('production.coffee') %></a>
            </div>
            <div class="catalogue-filter-list_dropdown dropdownMenu">
                <a class="catalogue-filter-item_dropdown dropdownBtn" href="#"><%= __('production.category') %></a>
            </div>
        </div>

        <div class="catalogue-items">
            <% products.forEach(product => { %>
            <div class="catalogue-item_wrapper">
                <a href="/catalogue-item/<%= product._id %>" class="catalogue-item">
                    <div class="catalogue-item-img_wrapper">
                        <img src="<%= product.imageUrl[0] %>" alt="Catalogue item">
                    </div>
                    <div class="catalogue-item_title">
                        <%= product.productTitle %>
                    </div>
                </a>
            </div>
            <% }) %>
        </div>
    </div>
    
    <div class="catalogue-pagination">
        <% if(query) { %>
            <% if(pageNum == 1 && pages > 1) { %>
                <a href="/catalogue?page=<%= parseInt(pageNum) + 1 %>&sort=<%= query%>" class="catalogue-pagination-next"><%= __('production.next') %></a>
            <% } else if (pageNum < pages) { %>
                <a href="/catalogue?page=<%= parseInt(pageNum) - 1 %>&sort=<%= query %>" class="catalogue-pagination-prev"><%= __('production.prev') %></a>
                <a href="/catalogue?page=<%= parseInt(pageNum) + 1 %>&sort=<%= query %>" class="catalogue-pagination-next"><%= __('production.next') %></a>
            <% } else if(pageNum == pages && pages > 1) { %>
                <a href="/catalogue?page=<%= parseInt(pageNum) - 1 %>&sort=<%= query %>" class="catalogue-pagination-prev"><%= __('production.prev') %></a>
            <% } %>    
        <% } else { %>

            <% if(pageNum == 1 && pages > 1) { %>
                <a href="/catalogue?page=<%= parseInt(pageNum) + 1 %>" class="catalogue-pagination-next"><%= __('production.next') %></a>
            <% } else if (pageNum < pages) { %>
                <a href="/catalogue?page=<%= parseInt(pageNum) - 1 %>" class="catalogue-pagination-prev"><%= __('production.prev') %></a>
                <a href="/catalogue?page=<%= parseInt(pageNum) + 1 %>" class="catalogue-pagination-next"><%= __('production.next') %></a>
            <% } else if(pageNum == pages && pages > 1) { %>
                <a href="/catalogue?page=<%= parseInt(pageNum) - 1 %>" class="catalogue-pagination-prev"><%= __('production.prev') %></a>
            <% } %>
            
        <% } %>
    </div>

    <%-  include('../partials/modal')-%>
    <%-  include('../partials/footer')-%>
    <script src="/script/script.js"></script>
</body>

</html>