<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= __('head.title') %></title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%-  include('../partials/header')-%>

    <div class="container">
        <div class="partnership-images">
            <div class="partnership-images_top">
                <div class="partnership-images_item">
                    <img src="images/partners/dastor.png" alt="Partners">
                </div>
                <div class="partnership-images_item">
                    <img src="images/partners/jabil.png" alt="Partners">
                </div>
                <div class="partnership-images_item">
                    <img src="images/partners/flex.png" alt="Partners">
                </div>
            </div>
            <div class="partnership-images_bottom">
                <div class="partnership-images_item">
                    <img src="images/partners/silverland.png" alt="Partners">
                </div>
                <div class="partnership-images_item">
                    <img src="images/partners/vopak.png" alt="Partners">
                </div>
                <div class="partnership-images_item">
                    <img src="images/partners/yazaki.png" alt="Partners">
                </div>
            </div>
        </div>
        <div class="partnership-description">
            <div class="partnership-description-column">
                <div class="partnership-description-column_title">
                    <%= __('partnership.partnership') %>
                </div>
                <div class="partnership-description-column_text">
                    <%= __('partnership.descr1') %>
                </div>
                <div class="partnership-description-column_text">
                    <%= __('partnership.descr2') %>
                </div>
            </div>
            <div class="partnership-description-column">
                <div class="partnership-description-column_title">
                    <%= __('partnership.ourPartners') %>
                </div>
                <div class="partnership-description-column_list">
                    <li><%= __('partnership.list.1') %></li>
                    <li><%= __('partnership.list.2') %></li>
                    <li><%= __('partnership.list.3') %></li>
                    <li><%= __('partnership.list.4') %></li>
                </div>
            </div>
        </div>
    </div>
    
    <%-  include('../partials/modal')-%>
    <%-  include('../partials/footer')-%>
    
    <script src="/script/script.js"></script>
</body>

</html>